.container{
    position: sticky;
    top: 40px;
}
.user{
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
    gap: 20px;
    flex-direction: column;
}
.userdetails{
    display: flex;
    flex-direction: column;
}
.username{
    font-weight: 700;
    color: red !important;
}
.usertitle{
    border-bottom: 2px solid white;

}
.main{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    font-size: 17px;
}
.menutext{
    align-items: center;
    padding-left: 1rem;
    padding-top: 2rem;
    border-bottom: 2px solid whitesmoke;
}
